<div class="ColumnContainer" fxLayout="row" fxLayoutGap="32px">
  <div class="formContainer" fxFlex="60">
    <form [formGroup]="jsonForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="f.name.touched && f.name.invalid">
          <span *ngIf="f.name.errors?.required">This field is mandatory.</span>
          <span *ngIf="f.name.errors?.minlength"
            >Minimum length is
            {{ f.name.errors?.minlength.requiredLength }} This field is
            mandatory.</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>BodyID</mat-label>
        <input matInput formControlName="BodyID" />
        <mat-error *ngIf="f.BodyID.touched && f.BodyID.invalid">
          <span *ngIf="f.BodyID.errors?.pattern">Must be a number</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>SkinID</mat-label>
        <input matInput formControlName="SkinID" />
        <mat-error *ngIf="f.SkinID.touched && f.SkinID.invalid">
          <span *ngIf="f.SkinID.errors?.pattern">Must be a number</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Chassis Diffuse</mat-label>
        <input matInput formControlName="ChassisDiffuse" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Body Diffuse</mat-label>
        <input matInput formControlName="BodyDiffuse" />
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Body Skin</mat-label>
        <input matInput formControlName="BodySkin" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add</button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="PromotForJson()"
      >
        Load
      </button>
    </form>
  </div>
  <div fxLayout="column" fxFlex="40">
    <div class="config-item" *ngFor="let item of jsonConfigKeys">
      <span class="config-item-text">{{ item }}</span>
      <span class="spacer"></span>
      <button class="remove" mat-icon-button (click)="remove(item)">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="remove" mat-icon-button (click)="edit(item)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
</div>
<div *ngIf="jsonConfigKeys.length > 0">
  <pre [innerHTML]="jsonOutput"></pre>
</div>
