.ColumnContainer {
  padding: 16px;
}

.form-field {
  display: block;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}
:host ::ng-deep .string {
  color: green;
}
:host ::ng-deep .number {
  color: darkorange;
}
:host ::ng-deep .boolean {
  color: blue;
}
:host ::ng-deep .null {
  color: magenta;
}
:host ::ng-deep .key {
  color: red;
}

button {
  margin-left: 1rem;
}

.config-item {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}
