<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Rocket League Custom Decals</h1>
    <span class="nav-spacer"></span>
    <app-toolbar-profile></app-toolbar-profile>
    <button mat-icon-button (click)="toggleDarkTheme()">
      <mat-icon *ngIf="isDarkTheme | async">brightness_4</mat-icon>
      <mat-icon *ngIf="!(isDarkTheme | async)">brightness_2</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
  >
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="'/'"
        routerLinkActive="accent-color"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </a>
      <ng-container> </ng-container>
      <a
        *ngIf="!(user$ | async)"
        mat-list-item
        [routerLink]="'/auth'"
        routerLinkActive="accent-color"
      >
        Login
      </a>
      <a
        mat-list-item
        [routerLink]="'/designs/list'"
        routerLinkActive="accent-color"
      >
        Designs
      </a>
      <a
        mat-list-item
        [routerLink]="'/designs/json'"
        routerLinkActive="accent-color"
      >
        Json Util
      </a>
      <a
        *ngIf="user$ | async"
        mat-list-item
        [routerLink]="'/designs/form'"
        routerLinkActive="accent-color"
      >
        Create Design
      </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #sidenavContent>
    <div
      style="height: calc(100vh - 64px);"
      [@fadeAnimation]="getRouterOutletState(o)"
    >
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
