<mat-tab-group>
  <mat-tab label="Edit">
    <app-design-form #form></app-design-form>
  </mat-tab>
  <mat-tab label="Preview">
    <app-design-item [designItem]="form.previewDesign"></app-design-item>
  </mat-tab>
  <mat-tab label="Json">
    <app-design-json-creator></app-design-json-creator>
  </mat-tab>
</mat-tab-group>
