<div style="display: flex; align-items: center; justify-content: center;">
  <h3 style="font-family: montserrat;">Login</h3>
</div>
<div
  style="
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <button mat-button style="padding: 1rem;" (click)="loginGoogle()">
    <mat-icon style="width: 50px; height: 30px;" svgIcon="google"></mat-icon>
    Login With Google
  </button>
  <button mat-button style="padding: 1rem;" (click)="loginDiscord()" >
    <mat-icon style="width: 50px; height: 30px;" svgIcon="discord"></mat-icon>
    Login With Discord
  </button>
</div>
