<ng-container *ngIf="(user$ | async) as user; else showLogin">
  <button mat-button [matMenuTriggerFor]="dropMenu"><img class="avatar" [src]="user.avatar" alt="">
  </button>
  <mat-menu #dropMenu="matMenu">
    <p mat-menu-item>
      <mat-icon>account_circle</mat-icon>{{user.name}}
    </p>
    <button mat-menu-item (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>Sign out
    </button>
  </mat-menu>
</ng-container>

<ng-template #showLogin>
  <a mat-button [routerLink]="'/auth'"> Login </a>
</ng-template>
