<div class="filter-container">
  <form [formGroup]="filterForm" fxLayoutAlign=" flex-end">
    <mat-form-field class="form-field" appearance="standard">
      <mat-label> Filter </mat-label>
      <input matInput formControlName="search" />
    </mat-form-field>

    <mat-form-field class="tag-list" appearance="standard">
      <mat-label> Tag </mat-label>

      <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip
          *ngFor="let tag of selectedTags"
          [selectable]="false"
          [removable]="true"
          (removed)="removeTag(tag)"
        >
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #tagInput
          matInput
          formControlName="tagAutoComplete"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [class.hidden]="selectedTags.length > 0"
        />
      </mat-chip-list>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selectedTag($event)"
      >
        <mat-option *ngFor="let tag of tags" [value]="tag">
          {{ tag }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
