.filter-container {
  padding-left: 16px;
}

.tag-list {
  width: 300px;
}

mat-form-field {
  padding-left: 10px;
  vertical-align: bottom;
}

.hidden {
  display: none;
}

mat-chip {
  font-size: 12px;
  padding: 0.4em 0.5em;
  margin: 2px 2px 2px 0;
  border-radius: 3px;
}
