<h2>Most Downloaded</h2>
<div class="content" *ngIf="top5$ | async as designs">
  <div fxLayout="row wrap" [@listStagger]="designs.length">
    <app-design-item
      *ngFor="let design of designs; trackBy: trackByMethod"
      [designItem]="design"
      appMaterialElevation
    ></app-design-item>
  </div>
</div>

<h2>Most Recent</h2>
<div class="content" *ngIf="last5$ | async as designs">
  <div fxLayout="row wrap" [@listStagger]="designs.length">
    <app-design-item
      *ngFor="let design of designs; trackBy: trackByMethod"
      [designItem]="design"
      appMaterialElevation
    ></app-design-item>
  </div>
</div>

<!-- <h1>TODO:</h1>
<div style="position: absolute; width: 600px; left: 100px;">
  <h2>Short term</h2>
  <ul style="padding: 25px;">
    <li class="done">Categories</li>
    <li class="done">Filtering and search for the design list</li>
    <li class="done">Pagination \ virtual scrolling</li>
    <li class="todo">Admin panel</li>
    <li class="done">Hide routes you don't have access to</li>
    <li class="done">
      Restrict pages (API is restricted, but it's better to not show what you
      can't use)
    </li>
    <li class="done">Download counter?</li>
    <li class="todo">Likes?</li>
  </ul>

  <h2>Long term goals</h2>
  <ul style="padding: 25px;">
    <li class="todo">Server side rendering for faster initial load</li>
    <li class="todo">Web worker (PWA)</li>
    <li class="todo">Notification about updates (not sure if possible)</li>
    <li class="todo">Websocket communication with BM for install?</li>
  </ul>
</div> -->
