<mat-card class="design-card">
  <mat-card-header>
    <img mat-card-avatar [src]="designItem.creator.avatar" />
    <mat-card-title>{{ designItem.name }}</mat-card-title>
    <mat-card-subtitle>{{ designItem.creator.name }}</mat-card-subtitle>
    <div fxFlex></div>
    <button *ngIf="canDelete(user$ | async)" mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    <a
      *ngIf="isYourDesign(user$ | async)"
      mat-icon-button
      [routerLink]="['/designs', designItem.id, 'edit']"
    >
      <mat-icon>edit</mat-icon>
    </a>
  </mat-card-header>
  <img mat-card-image [src]="getThumbnailLink()" alt="{{ designItem.name }}" />
  <mat-card-content>
    <p>
      {{ designItem?.description }}
    </p>
    <mat-chip-list aria-label="Fish selection" [selectable]="true">
      <mat-chip
        *ngFor="let tag of designItem.tags | slice: 0:5; trackBy: trackByFn"
        (click)="tagClicked.emit(tag.name)"
        >{{ tag.name }}</mat-chip
      >
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [href]="getDownloadLink()"
      ><mat-icon>get_app</mat-icon> {{ designItem.downloads }}</a
    >
  </mat-card-actions>
</mat-card>
