.design-card {
  width: 300px;
  margin: 16px;
}

mat-card-content {
  min-height: 100px;
}

.mat-card-image {
  height: 200px;
  object-fit: contain;
}

mat-card-action {
  position: absolute;
  left: 15px;
  bottom: 10px;
  height: 40px;
}

mat-chip {
  font-size: 12px;
  padding: 0.4em 0.5em;
  margin: 2px 2px 2px 0;
  border-radius: 3px;
}
