.example-container {
  text-align: center;
  padding: 16px;
}

.form-field {
  display: block;
}

.preview-container {
  text-align: left;
}

.preview-image {
  height: 150px;
}

mat-progress-bar {
  margin-top: 5px;
  margin-bottom: 15px;
}
