<div class="example-container">
  <div class="form-container" appDragDrop (FileDropped)="onFileDrop($event)">
    <form [formGroup]="designForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Title </mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="f.name.touched && f.name.invalid">
          <span *ngIf="f.name.errors?.required">This field is mandatory.</span>
          <span *ngIf="f.name.errors?.minlength"
            >Minimum length is
            {{ f.name.errors?.minlength.requiredLength }} This field is
            mandatory.</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Description </mat-label>
        <textarea
          matInput
          formControlName="description"
          [cdkTextareaAutosize]="true"
          required
          rows="10"
        ></textarea>
        <mat-error *ngIf="f.description.touched && f.description.invalid">
          <span *ngIf="f.description.errors?.required"
            >This field is mandatory.</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field tag-list" appearance="outline">
        <mat-label> Tags </mat-label>

        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip
            *ngFor="let tag of previewDesign.tags"
            [selectable]="false"
            [removable]="true"
            (removed)="removeTag(tag.name)"
          >
            {{ tag.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            #tagInput
            matInput
            formControlName="tagAutoComplete"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addNewTag($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="addTag($event)"
        >
          <mat-option *ngFor="let tag of autoCompleteTags" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div fxLayoutGap="10px">
        <mat-form-field class="form-field" appearance="outline" fxFlex>
          <mat-label>Zip</mat-label>
          <input
            matInput
            required
            type="text"
            formControlName="zipLbl"
            [readonly]="true"
            placeholder="Drop or click to select file"
          />
          <button mat-icon-button matSuffix (click)="zip.click()" type="button">
            <mat-icon>attach_file</mat-icon>
          </button>
          <mat-error *ngIf="f.zipLbl.touched && f.zipLbl.invalid">
            <span *ngIf="f.zipLbl.errors?.required"
              >This field is mandatory.</span
            >
          </mat-error>
          <input
            #zip
            type="file"
            id="zipUpload"
            name="zipUpload"
            accept=".zip"
            style="display: none;"
            (change)="onZipChange($event)"
          />
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline" fxFlex>
          <mat-label>Thumbnail</mat-label>
          <input
            matInput
            required
            type="text"
            formControlName="thumbnailLbl"
            [readonly]="true"
            placeholder="Drop or click to select file"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="thumbnail.click()"
            type="button"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
          <mat-error *ngIf="f.thumbnailLbl.touched && f.thumbnailLbl.invalid">
            <span *ngIf="f.thumbnailLbl.errors?.required"
              >This field is mandatory.</span
            >
          </mat-error>
          <input
            #thumbnail
            type="file"
            id="thumbnail"
            name="thumbnail"
            accept="image/*"
            style="display: none;"
            (change)="onThumbnailChange($event)"
          />
        </mat-form-field>
      </div>
      <mat-progress-bar
        *ngIf="uploadProgress > 0"
        mode="determinate"
        [value]="uploadProgress"
      ></mat-progress-bar>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>
