<div>
  <mat-progress-bar
    style="position: fixed;"
    *ngIf="fetching$ | async"
    mode="query"
  ></mat-progress-bar>
  <app-filter-form
    (tagChanged)="tagChanged($event)"
    (searchChanged)="searchChanged($event)"
  ></app-filter-form>
  <div class="content" *ngIf="designs$ | async as designs">
    <div fxLayout="row wrap" [@listStagger]="designs.length">
      <app-design-item
        *ngFor="let design of designs; trackBy: trackByMethod"
        [designItem]="design"
        (tagClicked)="tagChanged($event)"
        appMaterialElevation
      ></app-design-item>
    </div>
  </div>
  <div class="center">
    <button mat-raised-button (click)="changePage(-1)">Previous Page</button>
    <button mat-raised-button (click)="changePage(1)">Next Page</button>
  </div>
  <!-- <mat-paginator [length]="100"
              [pageSize]="12"
              [pageSizeOptions]="[4, 12, 25, 50]">
</mat-paginator> -->
</div>
