.content {
  padding: 16px;
}

.content > mat-card {
  width: 300px;
}

mat-progress-bar {
  height: 10px;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
