@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Pacifico');
@import '~@angular/material/theming';
@import './styles/material-theme';

html,
body {
  margin: 0;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.accent-color {
  color: mat-color($accent) !important;
}
